@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    font-family: 'Numans', sans-serif;
    background-color: #2b2e34;
    margin: 0;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fdb713;
    background-color: #212529;
}


.card {
    margin: 10px;
    width: 15rem;
}

.card-body {
    background-color: black;

}

.card-body .addingButton {
    height: 10rem;
    width: 10rem;
    background-color: #fdb713;
    border-radius: 50%;
    display: inline-block;
}

.addingButton .bi-plus {
    height: 10rem;
    width: 10rem;
}

.img-fluid {
    max-width: 600px;
    width: 100%;
}

#noCardBorder {
    background-color: black;
}

.escapesList {
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 20px;
}

.yellowText {
    color: #fdb713;
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}

.comment h4, .comment span {
    display: inline
}

.comment p, .comment span {
    color: rgb(184, 183, 183)
}

h1, h4 {
    color: white;
    font-weight: bold
}

#comment {
    font-size: 15px;
    padding-bottom: 0;
}

#comment h4 {
    color: #fdb713;
}

#newCommentTextArea {
    width: 50%;
}

.infoBiela .comment {
    font-size: 15px;
    border: 2px solid white;
    background-color: black;
    /*float: left;*/
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    width: 50%;
}

.bg .uvod div {
    padding-bottom: 50px;
}

.bg h1 {
    padding-bottom: 50px;
    padding-left: 20px;
}

.bg .menu {
    margin-left: 0;
    padding-bottom: 0;
}

.bg .menu div {
    padding-bottom: 0;
}


.infoBiela div {
    text-align: center;
    font-size: 30px;
    /*padding-top: 1px;*/
    padding-bottom: 3vw;
    background-size: cover;
    background-position: center;
}

.infoBiela .d-flex {
    padding-top: 50px;
}

.infoBiela .commentFlex {
    padding-top: 0;
}

.infoBiela .mainInfo div {
    padding-bottom: 0;
}

.infoBiela .card {
    padding-bottom: 0;
}

.infoBiela .card div {
    font-size: 15px;
}

.lovers {
    margin-bottom: 3vw;
}

.infoBiela h1 {
    font-size: 50px;
    padding-bottom: 3vw;
    padding-top: 3vw;
    text-align: center;
}

.infoSeda h1 {
    font-size: 50px;
    padding-bottom: 3vw;
    padding-top: 3vw;
    text-align: center;
}


.preview {
    background-color: black;
    color: #fdb713;
    border-radius: 30% 80% 65% 30% / 40% 70% 35% 60%;
    padding: 3rem 7rem 7rem 7rem;
}

.infoSeda {
    text-align: center;
    background-color: #2b2e34;
    border-radius: 70% 30% 40% 60% / 40% 40% 70% 70%;
    margin-bottom: 20px;
}

.infoBiela #deleteConfirm div {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.infoBiela #deleteConfirm form {
    width: 100px;
    align-content: center;
    margin-left: 10px;
}

/*.infoBiela #deleteConfirm input {
    align-content: ;
}*/



#userRoomsTable {
    border-radius: 40% 30% 20% 20% / 40% 40% 70% 80%;
}

#userFavTable {
    border-radius: 40% 30% 20% 20% / 40% 40% 70% 80%;
}

.infoSeda h2 {
    font-size: 40px;
    padding: 5vw 40px 3vw;
}

.infoSeda .description {
    font-size: 40px;
    padding: 1vw 40px 5vw;
}

.userEscapesTableLink {
    color: #fdb713;
    text-decoration: none;
}

.infoSeda .container-sm {
    width: 15vw;
    height: 15vw;
    padding: 2%;
    background-color: #fdb713;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
}

.infoSeda .container-sm img {

    box-sizing: border-box;
    display: inline-block;

}

.infoBg {
    background-color: white;
    color: black;
}

.infoBg div {
    padding-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.infoBg h1 {
    padding-left: 20px;
}

.infoBg .menu {
    margin-left: 0;
    padding-bottom: 0;
}

.infoBg .menu div {
    padding-bottom: 0;
}

.infoBiela {
    background-color: black;
    color: white;
    border-radius: 20% 70% 20% 70% / 50% 30% 70% 70%;
}


.table-responsive-lg {
    padding: 30px 100px 100px 100px;
    font-size: 15px;
    /*margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    border-collapse: collapse;
    border-radius: 1em;
}

.infoBiela .table-responsive-lg {
    padding: 30px 100px 100px 100px;
    font-size: 15px;
    /*margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    border-collapse: collapse;
    border-radius: 1em;
}

#userEscapes {
    font-size: 30px;
    padding-top: 50px;
    color: #fdb713;
}

#userFavEscapes {
    font-size: 30px;
    padding-top: 50px;
    color: #fdb713;
}

.rooms {
    font-size: 1.5vw;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F0F0F0;
    color: #000;
}

h1{
    font-size: 70px;
    margin-left: 10px;
}

table, td, th {
    border: 3px solid white;
    color: white;
}

th {
    color: #fdb713;
    font-weight: bold;
}



table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    padding: 5px;
}

.modal-body input[type="text"], input[type="number"], input[type="tel"] {
    /*width: 100%;
    padding: 12px 20px;
    margin: 8px 0;*/
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.modal-body input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus{
    border: 4px solid #fdb713;
}

form {
    position: relative;
}

#formSearch {
    padding-left: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    resize: none;
}

textarea:focus {
    border: 4px solid #fdb713;
}

input[type=submit]{
    align-content: center;
    background-color: #fdb713;
    border: none;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
}
